* {margin:0;padding:0;box-sizing: content-box;}

html{
    height: 100vh;
}

body{
    background-color: hsl(0, 0%, 5%);

    font-family: 'Poppins', serif;
    color: hsl(0, 0%, 90%);
    height: 100vh;
}

u{
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

button, a, input, p{
    font-size: 1.2em;
    letter-spacing: 0.08em;
    font-family: 'Poppins', serif;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 20px;
    width:100%;
}

form input{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    
    min-width: 250px;
    width: 100%;
    max-width: 500px;

    background-color: hsl(0, 0%, 90%);
}

form input[type='submit']{
    margin-top: 0px;
    padding: 10px 20px;

    border-radius: 10px;
    border: none;
    
    min-width: 250px;
    width: 100%;
    max-width: 500px;

    color:hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 5%);
}

form input:disabled{
    color: #000;
    background-color: hsl(0, 0%, 75%);
}
form input:disabled:hover{
    cursor: not-allowed;
}






/* ===============================
            Navbar
=============================== */
navbar{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    
    position: fixed;
    height: 100%;
    width: 300px;
    padding: 10px 20px;

    font-size: 1.2em;
    background-color: hsl(0, 0%, 7%);

    box-shadow: -5px 0px 10px 2px hsl(0, 0%, 100%);

    z-index: 100;
}

.nav-profile{
    display: flex;
    justify-content: space-between;
}


.nav-profile .nav-icon a:first-child{
    margin-right: 2px;
}

.nav-profile .nav-icon a .iconify{
    color: hsl(0, 0%, 90%);
}


.nav-skills{
    margin: auto 0;
}

.nav-skills-items{
    display: flex;
    flex-direction: column;
    gap:50px;
}


.nav-skills-item a{
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.8em;
}

.nav-skills-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    margin-left: 40px;
    font-size: 0.9em;
}

button.nav-media-button{
    display: none;

    position: absolute;
    top:0;
    right:0;

    margin-right: 10px;
    margin-top: 10px;

    width: 60px;
    height: 50px;
    border-radius: 10px;

    font-size: 50px;
    color: hsl(0, 0%, 90%);
    background-color: hsl(0, 0%, 10%);
    border: 0;
    cursor: pointer;
}
@media only screen and (max-width: 1050px) {
    navbar{
        display: none;
    }
    button.nav-media-button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container.panel{
        max-width: 100% !important;
        margin-left: 0px !important;
    }

    navbar.active{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    
        overflow-y: auto;
        
        position: fixed;
        height: 100%;
        width: 300px;
        padding: 10px 20px;
    
        font-size: 1.2em;
        background-color: hsl(0, 0%, 7%);
    
        box-shadow: -5px 0px 10px 2px hsl(0, 0%, 100%);
    }
}














/* ===============================
        Page d'Acceuil
=============================== */









/* ===============================
        Page de Connexion
=============================== */
form#Connexion input[type="password"]{
    margin-top: 10px;
}

















/* ===============================
        Page de setting
=============================== */
.card{
    background-color: hsl(0, 0%, 10%);
    width: 80%;
    padding: 20px;
    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;

    border-radius: 10px;
}

.card .column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    min-width: 300px;
}

.card .column:last-child{
    align-items: flex-end;
}

.card .column input{
    font-size: 1em;
    width: 80%;
}


.card.unique{
    justify-content: center;
    padding: 20px;
    gap: 10px;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
}
.card.unique .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-width: 300px;
}
.card.unique .column input{
    font-size: 1em;
    width: 90%;
}




















/* ===============================
        Page des compétences
=============================== */
table.skills{
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 10%);

    border-radius: 10px;

    width: 90%;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.skills thead tr{
    border-bottom: 2px solid hsl(0, 0%, 40%);
}

table.skills thead tr th:nth-child(n+2){
    border-left: 2px solid hsl(0, 0%, 40%);
}

table.skills thead tr th{
    padding: 5px 20px;
}

table.skills tbody tr:nth-child(odd){
    background-color: hsl(0, 0%, 80%);
}

table.skills tbody tr:hover{
    background-color: hsl(0, 0%, 55%);
}

table.skills tbody tr td:nth-child(n+2){
    border-left: 2px solid hsl(0, 0%, 40%);
}

table.skills tbody tr td{
    padding: 10px 15px;
}

table.skills tbody tr td.N_Item{
    text-align: center;
}
































/* ===============================
        Classes commune
=============================== */
#Home.container, #Login.container{
    min-height: 80%;
}

.container.panel{
    max-width: calc(100% - 300px);
    margin-left: 300px;
    padding-top: 5%;
}

.container{
    margin: auto;
    width: 100%;
    min-width: 250px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-bottom: 10px;
}

.sub-title{
    text-align:left;
}


.text-center{
    text-align: center;
}



.btn-white{
    position: relative;
    bottom: 0px;

    cursor: pointer;

    margin-top: 10px;
    background-color: hsl(0, 0%, 90%);
    padding: 10px 30px;
    width: 150px;

    text-align: center;

    text-decoration: none;
    color: hsl(0, 0%, 5%);
    font-weight: bolder;
    font-size: 1.2em;

    border: 4px solid hsl(0, 0%, 10%);
    border-radius: 10px;

    transition: all 0.1s;
}

.btn-white:hover{
    transform: scale(105%);
}

.btn-white:active{
    background-color: hsl(0, 0%, 5%);
    color:hsl(0, 0%, 90%);
    border: hsl(0, 0%, 90%);
}

.alerte{
    padding: 10px 20px;
    margin-bottom: 20px;

    min-width: 250px;
    width: 100%;
    max-width: 500px;
    
    background-color: hsl(0, 0%, 90%);

    text-align: center;
    border-radius: 10px;
}
.alerte.error{
    background-color: hsl(0, 100%, 25%);
}
.alerte.success{
    background-color: hsl(127, 100%, 25%);
}